 
@model Customer





<form class="row" asp-action="Add">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Create New AutoMechanic account</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Customer Dashboard</a></li>
                            <li class="breadcrumb-item active">New AutoMechanic Account</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-5">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
@*
                        <input type="hidden" asp-for="Id">*@
                        <div asp-validation-summary="All"></div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputName">Name</label>
                                <span class="text-danger" asp-validation-for="Name"></span>
                                <input type="text" id="inputName" class="form-control" asp-for="Name">
                            </div>
                            <div class="form-group">
                                <label for="inputName">Emali</label>
                                <span class="text-danger" asp-validation-for="Email"></span>
                                <input type="text" id="inputName" class="form-control" asp-for="Email">
                            </div>
                            <div class="form-group">
                                <label for="inputName">Phone</label>
                                <span class="text-danger" asp-validation-for="Phone"></span>
                                <input type="text" id="inputName" class="form-control" asp-for="Phone">
                            </div>

                            <div class="form-group">
                                <label for="inputDescription">Password</label>
                                <span class="text-danger" asp-validation-for="Password"></span>
                                <input type="text" id="inputDescription" class="form-control" asp-for="Password"></input>
                            </div>

                            <div class="form-group">
                                <label for="inputClientCompany">Date of Created</label>
                                <span class="text-danger" asp-validation-for="Created_At"></span>
                                <input type="text" id="inputClientCompany" asp-for="Created_At" class="form-control">
                            </div>
                            
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>




                <div class="col-md-5">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">budget</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputStatus">Is Active</label>
                                <select id="inputStatus" class="form-control custom-select" asp-for="IsActive">
                                    <option value="false">false</option>
                                    <option selected value="true">true</option>
                                </select>
                            </div>

                            
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="row">
                <div class="col-10">
                    <a href="#" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="ُAdd" class="btn btn-success float-right">
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</form>