@model TaxiDriverAcceptedTripVM





<form class="row" asp-action="Add">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Start New Trip</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Avaliable Trips</a></li>
                            <li class="breadcrumb-item active">Trips</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-5">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>

                        
                        <input type="text" id="inputName" hidden class="form-control" asp-for="Id"></input>
                        <input type="text" id="inputName" hidden class="form-control" asp-for="DriverId"></input>
                        

                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputName" asp-for="Id"></label>
                                <label type="text" id="inputName" class="form-control" asp-for="Id">@Model.Id</label>
                                <span class="text-danger" asp-validation-for="Id"></span>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>




                <div class="col-md-5">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">budget</h3>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputStatus">Is Active</label>
                                    <select id="inputStatus" class="form-control custom-select" asp-for="AcceptedTrip.IsActive">
                                    <option>false</option>
                                    <option selected>true</option>
                                </select>
                            </div>


                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="row">
                <div class="col-10">
                    <a href="#" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="ُAdd" asp-route-id="@Model.DriverId" class="btn btn-success float-right">
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</form>